@import './../../Styles/placeholders.scss';

.marker-type-panel {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__icon {
        font-size: 25px;
        margin-right: 0.5rem;
    }

    &__header-btn {
        @extend %button-reset;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__sub-type-list-item {
        margin-bottom: 1rem;
    }

    &__sub-type-label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }
}
