@import '~bulma/sass/utilities/_all.sass';

%button-reset {
    // Reset button styles to look more like a link.
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;
    color: $link;
    font-size: 1rem;
    text-align: left;

    &:hover,
    &:focus {
        color: $link-hover;
    }
}

.marker-type-panel {
    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    &__icon {
        font-size: 25px;
        margin-right: 0.5rem;
    }

    &__header-btn {
        @extend %button-reset;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__item-checkbox {
        margin-right: 0.5rem;
        font-size: 10px;
    }

    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
    }

    &__item-link {
        @extend %button-reset;
    }
}
