@import '~leaflet/dist/leaflet.css';
@import '~leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.webpack.css';

.leaflet-popup-content {
    margin: 1.25rem;
    text-align: center;
}

.leaflet-container a.leaflet-popup-close-button {
    top: 7px;
    right: 7px;
}
