.app {
    display: flex;
    height: 100%;

    &__settings-panel {
        @media (min-width: 1024px) {
            max-width: 500px;
        }
    }

    &__small-screen-settings-button-container {
        z-index: 500;
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    & &__small-screen-settings-button {
        width: 100%;
        max-width: 500px;
    }

    &__mojave-wasteland-map {
        width: 100%;
    }
}
