.settings-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @media (min-width: 1024px) {
        padding-top: 1rem;
        padding-bottom: 4rem; // offset abs pos footer.
    }

    &__header {
        text-align: center;
        margin-bottom: 1rem;
    }

    &__logo {
        display: block;
        max-width: 220px;
        margin: 0 auto;

        @media (min-width: 1024px) {
            max-width: 300px;
        }
    }

    &__content {
        @media (min-width: 1024px) {
            overflow-y: auto;
            flex-grow: 1;
            padding: 0 1.25rem;
        }
    }

    &__marker-type-panel {
        margin-bottom: 1rem;
    }

    &__footer {
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 0.8rem;

        @media (min-width: 1024px) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}
