name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:

    build-and-deploy:
        concurrency: ci-${{ github.ref }}

        runs-on: ubuntu-latest

        steps:
            -
                uses: actions/checkout@v2
            -
                uses: actions/setup-node@v2
                with:
                    node-version: '14'
                    cache: 'yarn'
            -
                run: yarn install
            -
                run: yarn build
                env:
                    NODE_ENV: production

            -
                uses: JamesIves/github-pages-deploy-action@v4.2.2
                with:
                    branch: gh-pages
                    folder: build
